In [5]:
import pandas as pd
df2 = pd.read_csv('stat/local.csv')

In [6]:
df2.head()

,Firstname,Lastname,Age,PlaceOfBirth,Club,League,Appearances
0,Jamie Richard,Vardy,36,Sheffield,Leicester,Premier League,1
1,Jamiu Richardie,Wardy,28,London,Leicester,Premier League,1
2,Jamiere Richardiho,Vardoy,26,Sheffield,Leicester,Premier League,1
3,Uner Jamo,Kai,30,Sheffield,Leicester,Premier League,1
4,Olabisi Jane,Uche,37,Sheffield,Leicester,Premier League,1